@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
body{
    margin: 0px;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    background:  url('https://cdn.statically.io/img/i.pinimg.com/originals/b8/83/fc/b883fc84b57235e6fe57f409716ae68d.gif') center / cover no-repeat fixed;
}
.content_header{
    width: 100%;
    transition: 1s;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.content_header::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 28, 0.267);
    position: absolute;
}
.item_header{
    position: relative;
    z-index: 25;
    text-align: center;
    top: 70px;
}
.item_header h1{
    margin: 0px;
    color: #fff;
    font-weight: bold;
    font-size: 55px;
    position: relative;
    bottom: 100px;
    font-family: 'Reggae One', cursive;
}
.item_header i{
    color: #fff;
    font-size: 40px;
}

/* main */


.content_main{
    background-color:  rgba(29, 29, 28, 0.267);
    padding-top: 20px;
}
.card h1{
    margin: 0px;
    color: #fff;
    font-size: 25px;
}
.main_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    text-align: center;
    width: 250px;
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.089);
    background-color: rgba(0, 0, 0, 0.699);
}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.76);
    background-color: rgba(0, 0, 0, 0.822);
}
.card h1{
    padding: 10px;
    font-weight: 300;
}
.card button{
    margin-top: 30px;
}

/* input */

.inp_content input{
    width: 300px;
    height: 40px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.233);
    border-radius: 20px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.527);
    outline: none;
    border: none;
    margin-bottom: 50px;
    color: #fff;
}
.inp_content{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.card_body button{
    width: 100px;
    height: 25px;
    cursor: pointer;
    background-color: #fff;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px #fff;
    outline: none;
    border: none;
}


/* information about pokemon */

.card_info{
    display: flex;
    justify-content: space-around;
}
.hero{
    width: 600px;
    height: 400px;
}
.down_left_cont{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.down_left_cont img{
    width: 100px;
    padding: 5px 20px;
}
.right_content{
    text-align: center;
    color: #fff;
}
.right_content ul p{
    font-size: 20px;
}
.right_content h1{
    font-size: 29px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* active info */

.btn_next.activenext{
    display: none;
}
.btn_back.activeback{
    display: none;
}
.page.activepage{
    display: none;
}
.input_main.activeinput{
    display: none;
}
.content_header.activeheader{
    display: none;
}
.main_item.activemain{
    position: relative;
}

.btnload{
    width: 150px;
    height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px #fff;
    background-color: #fff;
    margin-top: 30px;
}
/* Next Back */

.content_buttons{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
.content_buttons button {
    width: 150px;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0px 20px;
}
.btn_next{
    background: rgb(12, 5, 24);
    color: #fff;
    box-shadow: 0px 0px 10px rgb(12, 5, 24);
}
.btn_back{
    background: rgb(24, 5, 10);
    color: #fff;
    box-shadow: 0px 0px 10px rgb(24, 5, 10);
}
.content_he span{
    color: rgb(255, 7, 7);
}
.content_buttons{
    color: #fff;
}
